cachetools
crispy-bulma
django>=5.2,<5.3  # LTS
django-allauth
django-crispy-forms
django-filter
django-stubs-ext
django-tables2
django-tables2-bulma-template
requests
sentry-sdk[django]
django-environ
