pip-tools

-r requirements.txt
ruff
isort
pytest
pytest-cov
pytest-django

mypy
django-stubs[compatible-mypy]
django-filter-stubs
types-cachetools
types-dj-database-url
types-setuptools

faker
freezegun