{% load crispy_forms_tags %}
<div id="modal-filter" class="modal">
    <div class="modal-background"></div>

    <div class="modal-content">
        <header class="modal-card-head">
            <p class="modal-card-title">Filter</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <form class="block" method="get">
            <section class="modal-card-body">
                {{ filter.form|crispy }}
            </section>
            <footer class="modal-card-foot">
                <div class="field is-grouped">
                    <div class="control">
                        <input type="submit" class="button is-primary" value="Filter Results" />
                    </div>
                    <div class="control">
                        <button class="button is-primary is-light">Cancel</button>
                    </div>
                </div>
            </footer>
        </form>
    </div>

    <button class="modal-close is-large" aria-label="close"></button>
</div>
