{% extends "layouts/base_app.html" %}
{% load crispy_forms_tags %}

{% block page_title %}Change Password{% endblock %}
{% block title %}Change Password{% endblock %}

{% block content %}
    <p class="block">Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
    <form class="block" method="post" action="{% url 'account_change_password' %}">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="button is-primary" type="submit" value="Change my password">
    </form>
{% endblock %}
