<table class="table">
    <thead>
      <tr>
        <th>ID</th>
        {% if show_tla %}<th>Team</th>{% endif %}
        <th>Title</th>
        <th>Resolved</th>
        <th>Assignee</th>
        <th>Last Updated</th>
      </tr>
    </thead>
    <tbody>
      {% for ticket in tickets %}
      <tr>
        <th>#{{ ticket.id }}</th>
        {% if show_tla %}
          <td>
            <a href="{% url 'teams:team_detail' ticket.team.tla %}">{{ ticket.team.tla }}</a>
          </td>
        {% endif %}
        <td><a href="{% url 'tickets:ticket_detail' ticket.id %}">{{ ticket.title }}</a></td>
        <td>{% if ticket.resolution %}Yes{% else %}No{% endif %}</td>
        <td>{{ ticket.assignee|default_if_none:"Unassigned" }}</td>
        <td>{{ ticket.updated_at }}</td>
        <td><a href="{% url 'tickets:ticket_detail' ticket.id %}">View</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>