{% extends "base.html" %}

{% block body %}
<main>
    <div class="container">
      <section class="hero">
        <div class="hero-body">
          <div class="container">
            <div class="columns is-centered">
              <div class="column is-5-tablet is-4-desktop is-3-widescreen">
                <img class="block" src="https://srobo.github.io/style/assets/logo.svg" />
                {% block content %}{% endblock %}
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
{% endblock %}