{% extends "base.html" %}

{% block body %}
<main>
    <div class="container">
      <section class="hero">
        <div class="hero-body">
          <div class="container">
            <div class="columns is-centered">
              <div class="column is-5-tablet is-6-desktop is-6-widescreen">
                <div class="block has-text-centered">
                  <img style="max-width: 50%;" src="https://srobo.github.io/style/assets/logo.svg" />
                </div>
                {% block content %}{% endblock %}
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
{% endblock %}