{% extends "layouts/base.html" %}
{% load navigation %}

{% block body %}
  {% navigation %}
  <main>
    <div class="container is-fluid" style="margin-top: 1em;">
      <div class="columns is-vcentered mb-3">
        <div class="column">
          <h2 class="title">{% block page_title %}{% endblock %}</h2>
        </div>
        <div class="column has-text-right-tablet">
          {% block page_buttons %}{% endblock %}
        </div>
      </div>
      {% include "inc/parts/messages.html" %}
      {% block content %}
      {% endblock %}
    </div>
  </main>
{% endblock %}
