{% extends "layouts/base.html" %}

{% block body %}
  {% include "inc/nav/nav.html" %}
  <main>
    <div class="container is-fluid" style="margin-top: 1em;">
      <div class="columns is-flex is-vcentered">
        <div class="column">
          <h2 class="title" style="margin-bottom: 0.3em;">{% block page_title %}{% endblock %}</h2>
        </div>
        <div class="column is-one-quarter has-text-right">
          {% block page_buttons %}{% endblock %}
        </div>
      </div>
      {% include "inc/parts/messages.html" %}
      {% block content %}
      {% endblock %}
    </div>
  </main>
{% endblock %}