<nav class="navbar is-info" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="{% url 'home' %}">
        {{ SYSTEM_TITLE }}
      </a>
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    
    <div class="navbar-menu" id="navMenu">
      {% if user.is_authenticated and user.onboarded_at %}
        <div class="navbar-start">
          <a class="navbar-item" href="{% url 'tickets:ticket_assigned_list' %}">
            My Tickets
          </a>
          <a class="navbar-item" href="{% url 'tickets:queue_default' %}">
            Queues
          </a>
          <a class="navbar-item" href="{% url 'teams:team_list' %}">
            Teams
          </a>
          <a class="navbar-item" href="{% url 'tickets:ticket_all' %}">
            All Tickets
          </a>
        </div>
      {% endif %}
    
      <div class="navbar-end">
          {% if user.is_authenticated and user.onboarded_at %}
            {% include "inc/parts/search_bar.html" %}
            <a class="navbar-item" href="{% url 'tickets:ticket_create' %}">
              New Ticket
            </a>
            <a class="navbar-item" target="_blank" href="https://tinyurl.com/3zerezd4">
              Docs
            </a>
          {% endif %}

          {% if user.is_authenticated %}
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                {{ user.get_full_name|default:"Welcome!" }}
              </a>
          
              <div class="navbar-dropdown is-right">
                {% if user.is_staff %}
                <a class="navbar-item" href="{% url 'admin:index' %}">
                  Admin
                </a>
                {% endif %}
                {% if user.onboarded_at %}
                <a class="navbar-item" href="{% url 'accounts:profile_update' %}">My Profile</a>
                <a class="navbar-item" href="{% url 'account_set_password' %}">Change Password</a>
                {% endif %}
                <hr class="navbar-divider">
                <a class="navbar-item" href="{% url 'account_logout' %}">
                    Log out
                </a>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>
