{% extends "layouts/base_app.html" %}
{% load crispy_forms_tags %}

{% block page_title %}
Edit: {{ object.title }} #{{object.id}}
{% endblock %}
{% block title %}Edit: #{{ object.id}}{% endblock %}

{% block content %}
<p>Some but not all details for a ticket can be edited after it has been created. If you need to edit something that cannot be edited here, contact an adminstrator or create a new ticket.</p>
<form class="block" method="post">
    {% csrf_token %}
    {{form|crispy}}
    <input class="button is-primary" type="submit" value="Save changes">
</form>
{% endblock %}
