{% extends "layouts/base_app.html" %}
{% load render_table from django_tables2 %}
{% load filter_helpers %}

{% block page_title %}All Tickets {% if is_filtered %}<span class="is-size-5">(filtered)</span>{% endif %}{% endblock %}
{% block title %}All Tickets {% if is_filtered %}(filtered){% endif %}{% endblock %}

{% block page_buttons %}
  <button class="button is-warning js-modal-trigger" data-target="modal-filter">
      <span class="icon is-small"><i class="fa fa-filter"></i></span>
      <span>Filter</span>
  </button>
  <a class="button is-primary" href="{% url 'tickets:ticket_create' %}">
      <span class="icon is-small"><i class="fa-solid fa-file-circle-plus"></i></span>
      <span>New Ticket</span>
  </a>
{% endblock %}

{% block content %}
  <div class="container">
    {% render_filter_badges filter %}
    <div class="columns">
      {% render_table table %}
    </div>
    {% include "inc/modals/filter.html" %}
  </div>
{% endblock %}
