{% extends "base_app.html" %}
{% load crispy_forms_tags %}

{% block page_title %}Tickets{% endblock %}
{% block title %}My Tickets{% endblock %}

{% block content %}
<div class="container">
  <div class="columns">
    <div class="column is-one-fifth">
        <aside class="menu" style="padding-top: 2em;">
            <ul class="menu-list">
              <li>
                <a class="is-active" href="{% url 'tickets:ticket_assigned_list' %}">My Tickets</a>
              </li>
            </ul>
            <p class="menu-label">
              Queues
            </p>
            <ul class="menu-list">
              {% for queue in ticket_queues %}
              <li>
                <a href="{% url 'tickets:queue_detail' queue.slug %}">{{ queue.name }}</a>
              </li>
              {% endfor %}
            </ul>
        </aside>
    </div>
    <div class="column">
      <h2 class="title">My Tickets</h2>
      <button class="button is-warning js-modal-trigger" data-target="modal-filter">Filter</button>
      {% include "inc/ticket_table.html" with tickets=object_list.all show_tla=True %}
    </div>
  </div>
</div>
<div id="modal-filter" class="modal">
  <div class="modal-background"></div>
  
  <div class="modal-content">
      <header class="modal-card-head">
          <p class="modal-card-title">Filter</p>
      <button class="delete" aria-label="close"></button>
      </header>
      <form class="block" method="get">
        <section class="modal-card-body">
                {% csrf_token %}
                {{ filter.form|crispy }}          
        </section>
        <footer class="modal-card-foot">
            <input type="submit" class="button is-success" value="Filter Results" />
            <button class="button">Cancel</button>
        </footer>
    </form> 
  </div>
  
  <button class="modal-close is-large" aria-label="close"></button>
</div>
{% endblock %}