{% extends "layouts/base_app.html" %}
{% load render_table from django_tables2 %}

{% block page_title %}My Tickets{% endblock %}
{% block title %}My Tickets{% endblock %}

{% block page_buttons %}
<button class="button is-warning js-modal-trigger" data-target="modal-filter">Filter</button>
<a class="button is-primary" href="{% url 'tickets:ticket_create' %}?assignee={{ user.username }}">
  New Ticket
</a>
{% endblock %}

{% block content %}
<div class="container">
  <div class="columns">
    {% render_table table %}
</div>
{% include "inc/modals/filter.html" %}
{% endblock %}