{% extends "layouts/base_app.html" %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}
{% load filter_helpers %}

{% block page_title %}Teams{% endblock %}
{% block title %}Teams{% endblock %}

{% block page_buttons %}
    <button class="button is-warning js-modal-trigger" data-target="modal-filter">Filter</button>
{% endblock %}

{% block content %}
    <div class="container">
        {% render_filter_badges filter %}
        <div class="columns">
            <div class="column">
                {% render_table table %}
            </div>
        </div>
    </div>
    {% include "inc/modals/filter.html" %}
{% endblock %}