{% extends "layouts/base_app.html" %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}

{% block page_title %}{{object.tla}}: {{ object.name }}{% endblock %}
{% block title %}{{object.tla}}: {{ object.name }}{% endblock %}

{% block content %}
{% include "inc/nav/team-tabs.html" with active="tickets" team=object %}
<div class="container columns">
    <div class="column">
        {% render_table table %}
    </div>
    <div class="column is-one-fifth">
        <a class="button is-primary" href="{% url 'tickets:ticket_create' %}?team={{ object.tla }}">
            New Ticket
        </a>
        <form class="block" method="get">
            {{ filter.form | crispy }}
            <input class="button is-primary" type="submit" value="Filter">
        </form>
    </div>
</div>
{% endblock %}