{% extends "layouts/base_hero.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}Log In{% endblock %}

{% block content %}
  <figure class="image is-128x128 inline-block" style="margin: 0 auto 2em auto;">
    <img src="https://srobo.github.io/style/assets/logo.svg" width="50%" />
  </figure>
  <h2 class="title has-text-centered">{{ SYSTEM_TITLE }}</h2>
  <h3 class="subtitle has-text-centered">Sign In Via Google</h3>
  <p class="has-text-centered">Non-SR Google accounts will not work. If you do not have an SR Google Account, please <a href="{% url 'accounts:signup' %}">go back and sign up</a>.</p>
  <form method="post" style="margin: 1em 0;">
    {% csrf_token %}
    {{ form | crispy }}
    <div class="control">
      <button class="button is-info is-fullwidth" type="submit">Continue</button>
    </div>
  </form>
{% endblock %}
